
{% extends 'base.html' %}

{% block title %}Loja Python{% endblock %}

{% block content %}
<section class="secao-de-listagem">
    <h3>Detalhes</h3>

    <article>
        <h2> {{ post.title  }}</h2>
        <p>{{ post.created_at }}</p>
        <p>{{ post.content  }}</p>

        {% if user.is_authenticated %}
             <a href="{% url 'novo' %}">Novo</a>
        {% endif %}

        {% if user.is_authenticated and post.author == user and not hine_delete %}
            <a href="{% url 'deletar' post.slug %}">Deletar</a>          
            <a href="{% url 'editar' post.slug %}">Editar</a>
        {% endif %}
    </article>
</section>
{% endblock %}

